@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-width: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #22272e;
}

/* Track */
::-webkit-scrollbar-track {
  background: #22272e;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(213, 242, 35, 0.8);
  border-radius: 4px;
  box-shadow: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(178, 202, 27, 0.8);
}

::-webkit-scrollbar-corner {
  background: rgba(178, 202, 27, 0.8);
  border-radius: 1px;
}

*,
::before,
::after {
  border-width: 0;
}
