@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::before,
::after {
  border-width: 0;
}

.z-100 {
  z-index: 100;
}

.z-1000 {
  z-index: 1000;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #22272e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(213.28, 242.25, 35.33, 0.8);
  border-radius: 5px;
}
